## Environment variables file
## This supersedes values set in app.json

## TEMPLATE: Never commit actual API keys or database details
## Add these below and then rename this file ".env"

# "dev" or "production"
NODE_ENV= "production"

# Connection string URI for your MongoDB database
DATABASE=""

# Port that this app runs on
PORT="3000"

# Long random string used to verify JWT tokens for user authentication
JWT_SECRET=""

# Root URL for this app
# ROOT_URL="test-quill-hbp19.herokuapp.com"
ROOT_URL="localhost:3000"

# Credentials for the admin user created at app initialization
ADMIN_EMAIL="team@hackbeanpot.com"
ADMIN_PASS=""

# Email setup
# Used to send verification, registration, and confirmation emails
EMAIL_NAME="HackBeanpot Team
EMAIL_CONTACT="team@hackbeanpot.com"
EMAIL_HEADER_IMAGE="https://raw.githubusercontent.com/HackBeanpot/Tools/master/assets/logos/2018_logo_400px.png"

# Mailgun API
MAILGUN_API_KEY=""
MAILGUN_API_BASE_URL="https://api.mailgun.net/v3/mailgun.hackbeanpot.com"
MAILGUN_EMAIL_DOMAIN="mailgun.hackbeanpot.com"

# Information linked at the bottom of emails
EMAIL_ADDRESS="team@hackbeanpot.com"
HACKATHON_NAME="HackBeanpot"
TWITTER_HANDLE="HackBeanpot"
FACEBOOK_HANDLE="HackBeanpot"

# Limits the number of users that can join a team
TEAM_MAX_SIZE=4

# Used to send error messages to your Slack team when the API catches an error
SLACK_HOOK="https://hooks.slack.com/services/yourapikey"
