<div id="application" class="page">
  <div class="divided title">
    Application
  </div>

  <div class="ui stackable page grid">
    <div class="column">
      
      <div class="ui form"
            ng-class="{'loading': loading}">

        <p class="application-description"> Questions marked with <span class="required">*</span> are required. After you submit your application, you can come back and edit it anytime. </p>

        <div class="divided title">Get to know you!</div>

        <fieldset ng-disabled="regIsClosed">

        <div class="field">
          <label> Email <span class="required">*</span></label>
          <input type="email"
                 name="email"
                 disabled="disabled"
                 ng-model="user.email">
        </div>

        <div class="field">
          <label> Full Name <span class="required">*</span> </label>
          <input type="text"
                 name="name"
                 placeholder="Name"
                 ng-model="user.profile.name">
        </div>

        <div class="field" ng-show="autoFilledSchool">
          <label> School <span class="required">*</span> </label>
          <input class="ui input"
                 disabled="disabled"
                 ng-show="autoFilledSchool"
                 ng-model="user.profile.school">
        </div>

        <div class="field" ng-show="!autoFilledSchool">
          <label> School <span class="required">*</span> </label>
          <div id="school" class="ui search">
            <div class="ui input">
              <input class="prompt" type="text" placeholder="School" name="school" ng-model="user.profile.school">                
            </div>
            <div class="results"></div>
          </div>
        </div>

        <div class="field">
          <label>Year <span class="required">*</span></label>
          <select
            name="year"
            ng-model="user.profile.year">
            <option value="H">High School</option>
            <option value="1">1st Year</option>
            <option value="2">2nd Year</option>
            <option value="3">3rd Year</option>
            <option value="4">4th Year</option>
            <option value="5">5th Year (and up)</option>
            <option value="G">Graduate Student</option>
          </select>
        </div>

        <div class="field">
          <label>Gender</label>
          <select
            name="gender"
            ng-model="user.profile.gender">
            <option value="M">Male</option>
            <option value="F">Female</option>
            <option value="O">Non-Binary</option>
            <option value="N">I prefer not to answer.</option>
          </select>
        </div>

        <div class="field">
          <label>Ethnicity</label>
          <select
            name="ethnicity"
            ng-model="user.profile.ethnicity">
            <option value="A">American Indian or Alaska Native</option>
            <option value="B">Asian</option>
            <option value="C">Black or African American</option>
            <option value="D">Hispanic or Latino</option>
            <option value="E">Native Hawaiian or Pacific Islander</option>
            <option value="F">White</option>
            <option value="G">Two or more races</option>
            <option value="H">Other</option>
          </select>
        </div>

        <div class="field">
          <label>Major <span class="required">*</span></label>
          <input type="text"
                 placeholder="Major"
                 ng-model="user.profile.major">
        </div>
        
        <div class="field">
          <label>Minor(s), if any</label>
          <input type="text"
                 placeholder="Minor"
                 ng-model="user.profile.minor">
        </div>

        <div class="field">
          <label>What's your favorite hype song? <span class="required">*</span></label>
          <input type="text"
                 placeholder="Hype"
                 ng-model="user.profile.hypesong">
        </div>

        <div class="field">
          <label>What flavored jellybean would you be and why? (Doesn’t have to be a real flavor ;)) <span class="required">*</span></label>
          <input type="text"
                 placeholder="The correct answer is hack flavored... just kidding."
                 ng-model="user.profile.jellybean">
        </div>

        <br>

        <div class="divided title">Interests and Experience</div>

        <div class="section description">
          <p>
              Let us know what you’re interested in! Don’t be shy. If you’ve been looking for the opportunity to gain some experience, HackBeanpot is the perfect place to explore and learn something new!
          </p>
        </div>

        <br>

        <div class="checkbox-label"> What is your experience with Hackathons?  <span class="required">*</span> </div>
        <div class="field"
          ng-repeat="(key, value) in hackerExperience">

          <div class="ui checkbox">
            <input type="checkbox" ng-model="hackerExperience[key]" />
            <label>{{key}}</label>
          </div>

        </div>
        
        <br>

        <div class="field">
          <label>What’s your background? What could you talk for hours about? Give us a snapshot of who you are and your journey in tech. <span class="required">*</span></label>
          <textarea ng-model="user.profile.background">
          </textarea>
        </div>

        <br>

        <div class="checkbox-label"> Tech Interests  <span class="required">*</span> </div>
        <div class="field"
          ng-repeat="(key, value) in techInterests">

          <div class="ui checkbox">
            <input type="checkbox" ng-model="techInterests[key]" />
            <label>{{key}}</label>
          </div>
        </div>

        <div class="field" ng-show="techInterests['Other']">
          <label>Other Tech Interests </label>
          <input ng-model="user.profile.otherTechInterests"
                 type="text" 
                 placeholder="Programming Languages, etc.">
          </input>
        </div>
        
        <br>

        <div class="field">
            <label>Send us a Google Drive link to your resume (in PDF format)  - This is not for us to look at! We will simply pass your resume on to our sponsors.</label>
            <input type="text"
                   placeholder="Your Resume"
                   ng-model="user.profile.resume">    
        </div>
  
        <br>

        <div class="divided title">HackBeanpot-Related Things</div>

        <div class="checkbox-label"> How did you hear about us?  <span class="required">*</span> </div>
        <div class="field"
          ng-repeat="(key, value) in heardAboutUs">

          <div class="ui checkbox">
            <input type="checkbox" ng-model="heardAboutUs[key]" />
            <label>{{key}}</label>
          </div>
        </div>

        <div class="field" ng-show="heardAboutUs['Other']">
          <label>How else did you hear about us? </label>
          <input ng-model="user.profile.otherHeardAboutUs"
                 type="text">
          </input>
        </div>

        <br>

        <div class="checkbox-label"> Did you attend any events hosted by HackBeanpot in Fall 2019? Check all that apply. </div>
        <div class="field"
          ng-repeat="(key, value) in hbpOutreachEvents">

          <div class="ui checkbox">
            <input type="checkbox" ng-model="hbpOutreachEvents[key]" />
            <label>{{key}}</label>
          </div>

        </div>

        <br>

        <div class="field">
            <label>What kind of activities, talks, or workshops would you like to attend at HackBeanpot? (Ex. Yoga, professional development talk, React workshop, etc.) <span class="required">*</span></label>
            <input type="text"
                   placeholder="Activities"
                   ng-model="user.profile.activities">
        </div>
  
        <br>

        <div class="field">
            <label>
              What kind of ideas or topics would you be interested in exploring at HackBeanpot? (Your answer won’t affect your admission) <span class="required">*</span>
            </label>
            <textarea placeholder="Ideas or topics" ng-model="user.profile.topicsTechnologies">
            </textarea>
        </div>

        <br>

        <div class="field">
            <label>Any food restrictions or allergies?</label>
            <input type="text"
                   placeholder="Dietary Restrictions"
                   ng-model="user.profile.dietaryRestrictions">
        </div>
  
        <br>

        <div class="field">
          <label> Are you planning on coming with a team?  <span class="required">*</span> </label>
          <select
            name="teamPlan"
            ng-model="user.profile.teamPlan">
            <option value="I have a team that I plan to come and work with">I have a team that I plan to come and work with.</option>
            <option value="I have a team in mind but would be open to finding a new team at the event">I have a team in mind but would be open to finding a new team at the event.</option>
            <option value="I want to join a new team at the event">I want to join a new team at the event.</option>
            <option value="I want to work solo">I want to work solo.</option>
          </select>
        </div>

        <br>

        <div class="field">
          <label> S.W.A.G. - Shirts We All Got. Shirt size? <span class="required">*</span> </label>
          <select
            name="shirt"
            ng-model="user.profile.shirtSize"
            required>
            <option value=""></option>
            <option value="XS">Unisex X-Small</option>
            <option value="S">Unisex Small</option>
            <option value="M">Unisex Medium</option>
            <option value="L">Unisex Large</option>
            <option value="XL">Unisex X-Large</option>
            <option value="XXL">Unisex XX-Large</option>
          </select>
        </div>
        
        <br>

        <div class="field">
          <label>
            Our theme is “Sprout” this year, which represents growth in new skills, relationships, and experiences. With this in mind, what are you hoping to get out of HackBeanpot? What do you want to walk away having learned or experienced?
            <span class="required">*</span>
          </label>
          <textarea ng-model="user.profile.essay">
          </textarea>
        </div>

        <div class="thank you">
          <p>
              Thank you for your interest - we can’t wait to learn about you! Our team will let you know by the week of January 17, 2020 if you've been accepted or if you’ll be on our waitlist. Stay tuned!
          </p>
          <p>
            If you have any questions in the meantime, feel free to reach out to us at 
            <a href="mailto:team@hackbeanpot.com" target="_blank" class="inline-link" title="Email us!"> team@hackbeanpot.com</a>
            and visit our website 
            <a href="https://hackbeanpot.com" target="_blank" class="inline-link" title="Our website!"> https://hackbeanpot.com</a>.
            Follow us on social media 
            (<a href="https://www.instagram.com/hackbeanpot" title="Our Instagram!" target="_blank" class="inline-link">@hackbeanpot</a>)
            or sign up for our 
            <a href="http://eepurl.com/gCU4x1" target="_blank" title="Join our newsletter!" class="inline-link"> newsletter </a> 
            for more information and updates!
           
          </p>
          
        </div>

        <br>

        <div class="field" ng-hide="regIsClosed">
          <button type="submit"
                  class="fluid ui button primary-cta"
                  ng-click="submitForm()">
            Submit
          </button>
        </div>

        </fieldset>
      </div>
    </div>
  </div>
</div>
