<div id="application" class="page">
  <div class="divided title">
    Application
  </div>

  <div class="ui stackable page grid">
    <div class="column">
      
      <div class="ui form"
            ng-class="{'loading': loading}">

        <p class="application-description"> 
          Questions marked with <span class="required">*</span> are required. 
          If you leave this page before submitting, your responses will not be saved.
          After you submit your application, you can come back and edit it anytime. 
        </p>

        <div class="divided title">Let's get to know you!</div>

        <fieldset ng-disabled="regIsClosed">

        <div class="field">
          <label> Email <span class="required">*</span></label>
          <input type="email"
                 name="email"
                 disabled="disabled"
                 ng-model="user.email">
        </div>

        <div class="field">
          <label> Full Name <span class="required">*</span> </label>
          <input type="text"
                 name="name"
                 placeholder="Name"
                 ng-model="user.profile.name">
        </div>

        <div class="field">
          <label>Gender</label>
          <input type="text"
                 name="gender"
                 placeholder="Gender"
                 ng-model="user.profile.gender">
        </div>

        <div class="checkbox-label">What ethnicities do you identify as?</div>
        <div class="field"
          ng-repeat="(key, value) in ethnicity">

          <div class="ui checkbox">
            <input type="checkbox" ng-model="ethnicity[key]" />
            <label>{{key}}</label>
          </div>
        </div>

        <div class="field" ng-show="autoFilledSchool">
          <label>What school do you attend? <span class="required">*</span> </label>
          <input class="ui input"
                 disabled="disabled"
                 ng-show="autoFilledSchool"
                 ng-model="user.profile.school">
        </div>

        <div class="field" ng-show="!autoFilledSchool">
          <label>What school do you attend? <span class="required">*</span> </label>
          <div id="school" class="ui search">
            <div class="ui input">
              <input class="prompt" type="text" placeholder="School" name="school" ng-model="user.profile.school">                
            </div>
            <div class="results"></div>
          </div>
        </div>

        <div class="field">
          <label>What level of education are you currently pursuing? <span class="required">*</span></label>
          <select
            name="educationLevel"
            ng-model="user.profile.educationLevel">
            <option value="H">High School</option>
            <option value="U">Undergraduate</option>
            <option value="G">Graduate</option>
          </select>
        </div>

        <div class="field">
          <label>What year in your current education are you? <span class="required">*</span></label>
          <select
            name="year"
            ng-model="user.profile.year">
            <option value="1">1st Year</option>
            <option value="2">2nd Year</option>
            <option value="3">3rd Year</option>
            <option value="4">4th Year</option>
            <option value="5">5th Year+</option>
          </select>
        </div>

        <div class="field">
          <label>What are you majoring in? (N/A if in highschool) <span class="required">*</span></label>
          <input type="text"
                 placeholder="Major"
                 ng-model="user.profile.major">
        </div>
        
        <div class="field">
          <label>What are you minoring in?</label>
          <input type="text"
                 placeholder="Minor"
                 ng-model="user.profile.minor">
        </div>

        <p class="section description"> 
          <i>
            Please note: Our events are best viewed in EST - PST, but we’ll do our best to 
            upload recordings as soon as possible for those joining from other 
            time zones, as well as spread out our activities throughout the day. 
          </i>
        </p>

        <div class="field">
          <label>What timezone will you most likely be attending the event from (ex. EST, PST)?<span class="required">*</span></label>
          <input type="text"
                 placeholder="Timezone"
                 ng-model="user.profile.timezone">
        </div>

        <div class="field">
          <label>Shirt size? <span class="required">*</span> </label>
          <select
            name="shirt"
            ng-model="user.profile.shirtSize"
            required>
            <option value=""></option>
            <option value="XS">Unisex X-Small</option>
            <option value="S">Unisex Small</option>
            <option value="M">Unisex Medium</option>
            <option value="L">Unisex Large</option>
            <option value="XL">Unisex X-Large</option>
            <option value="XXL">Unisex XX-Large</option>
          </select>
        </div>

        <div class="field">
            <label>
              Send us a Google Drive link to your resume (in PDF format) - 
              This is not for us to look at! We will simply pass your resume on to our sponsors.
            </label>
            <input type="text"
                   placeholder="Your Resume"
                   ng-model="user.profile.resume">    
        </div>

        <div class="field">
            <label>
              Are there any special accommodations you would need from us? <br>
              <i>Note: This question does not get factored into how your application is read! </i>
            </label>
            <input type="text"
                   placeholder="Special Accomodations"
                   ng-model="user.profile.specialAccomodations">
        </div>
  
        <br>

        <!-- Interests and Experience -->

        <div class="divided title">Interests and Experience</div>

        <div class="section description">
          <p>
              Let us know what you’re interested in! Don’t be shy. If you’ve been looking for the 
              opportunity to gain some experience, HackBeanpot is the perfect place to explore and 
              learn something new!
          </p>
        </div>

        <br>

        <div class="field">
          <label>How many hackathons have you attended? <span class="required">*</span></label>
          <select
            name="hackathonsAttended"
            ng-model="user.profile.hackathonsAttended">
            <option value="0">0</option>
            <option value="1">1-2</option>
            <option value="3">3-5</option>
            <option value="6">6+</option>
          </select>
        </div>

        <br>

        <div class="field">
          <label>If you've attended a virtual hackathon in the past, what did you like/dislike?</label>
          <textarea ng-model="user.profile.virtualOpinions">
          </textarea>
        </div>

        <br>

        <div class="field">
          <label>
            At HackBeanpot 2021, we aim to create a welcoming “campsite” by emphasizing our 
            focus on exploration, creativity, and respect for the world around us! Camping 
            represents community, sustainability, and the goal to help each other thrive.
            With this in mind, what are you hoping to get out of HackBeanpot? What do you want to
            walk away having learned or experienced? 
            <span class="required">*</span>
          </label>
          <textarea ng-model="user.profile.learningGoals">
          </textarea>
        </div>

        <br>

        <div class="field">
          <label>
            We want to get to know you better! What are your passions in life, both technical and non-technical?
            <span class="required">*</span>
          </label>
          <textarea ng-model="user.profile.passions">
          </textarea>
        </div>

        <br>

        <!-- Team Formation -->

        <div class="divided title">Team Formation</div>
        
        <p class="section description"> 
          <i>
            Note: These questions do not get factored into how your application is read! 
            If you are part of a team, we will accept/reject your team together.
          </i>
        </p>

        <br>

        <div class="field">
          <label>
            Do you plan on attending HackBeanpot with a premade team? If yes, 
            <b>please create/join a team with your teammates in the Team tab. </b>
            <span class="required">*</span> 
          </label>
          <select
            name="hasTeam"
            ng-model="user.profile.hasTeam">
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>
        </div>

        <br>

        <p class="section description"> 
          If you don’t have a team or would like to add more members to your team, we will have 
          a project ideation session and team formation activity we’d love for you to attend. In 
          the question below, if you express interest in finding a team at the event we will reach 
          out closer to the event with more details. 
        </p>

        <div class="field">
          <label>
            Would you be interested in creating a team or finding more members for your current team at our team formation event?
            <span class="required">*</span> 
          </label>
          <select
            name="teamFormationPlan"
            ng-model="user.profile.teamFormationPlan">
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>
        </div>

        <br>

        <div class="checkbox-label"> How did you hear about us?  <span class="required">*</span> </div>
        <div class="field"
          ng-repeat="(key, value) in heardAboutUs">

          <div class="ui checkbox">
            <input type="checkbox" ng-model="heardAboutUs[key]" />
            <label>{{key}}</label>
          </div>
        </div>

        <div class="field" ng-show="heardAboutUs['Other']">
          <label>How else did you hear about us? </label>
          <input ng-model="user.profile.otherHeardAboutUs"
                 type="text">
          </input>
        </div>

        <br>

        <p class="section description"> 
          <i>
            As part of our camping theme this year, you will be split up into different virtual cabins. 
            You will be given the chance to compete with your cabin in exciting competitions throughout 
            the event to win the Cabin Cup! You will also have cabin counselors to guide you through the 
            event as well as a way to get to know the rest of your cabin mates! 
          </i>
        </p>

        <div class="checkbox-label">
          Which of the following workshops/activities would you be excited for? 
          <span class="required">*</span> 
        </div>
        <div class="field"
          ng-repeat="(key, value) in activityInterests">

          <div class="ui checkbox">
            <input type="checkbox" ng-model="activityInterests[key]" />
            <label>{{key}}</label>
          </div>
        </div>

        <div class="field" ng-show="activityInterests['Other']">
          <label>Other Workshops or Activities </label>
          <input ng-model="user.profile.otheractivityInterests"
                 type="text" 
                 placeholder="Programming Languages, etc.">
          </input>
        </div>

        <!-- Temporarily removing since 2021 will be virtual -->
        <!-- <div class="field">
          <label>Any food restrictions or allergies?</label>
          <input type="text"
                 placeholder="Dietary Restrictions"
                 ng-model="user.profile.dietaryRestrictions">
        </div> -->

        <br>

        <div class="thank you">
          <p>
              Thank you for your interest - we can’t wait to learn about you! Our team will let you know by the week of January 17, 2021 if you've been accepted or if you’ll be on our waitlist. Stay tuned!
          </p>
          <p>
            If you have any questions in the meantime, feel free to reach out to us at 
            <a href="mailto:team@hackbeanpot.com" target="_blank" class="inline-link" title="Email us!"> team@hackbeanpot.com</a>
            and visit our website 
            <a href="https://hackbeanpot.com" target="_blank" class="inline-link" title="Our website!"> https://hackbeanpot.com</a>.
            Follow us on social media 
            (<a href="https://www.instagram.com/hackbeanpot" title="Our Instagram!" target="_blank" class="inline-link">@hackbeanpot</a>)
            or sign up for our 
            <a href="http://eepurl.com/gCU4x1" target="_blank" title="Join our newsletter!" class="inline-link"> newsletter </a> 
            for more information and updates!
           
          </p>
          
        </div>

        <br>

        <div class="field" ng-hide="regIsClosed">
          <button type="submit"
                  class="fluid ui button primary-cta"
                  ng-click="submitForm()">
            Submit
          </button>
        </div>

        </fieldset>
      </div>
    </div>
  </div>
</div>
