<div id="application" class="page">
  <div class="divided title">
    Application
  </div>

  <div class="ui stackable page grid">
    <div class="column">
      <div class="ui form"
            ng-class="{'loading': loading}">

        <div class="divided title">Get to know you!</div>

        <fieldset ng-disabled="regIsClosed">

        <div class="field">
          <label> Email </label>
          <input type="email"
                 name="email"
                 disabled="disabled"
                 ng-model="user.email">
        </div>

        <div class="field">
          <label> Full Name </label>
          <input type="text"i
                 name="name"
                 placeholder="Name"
                 ng-model="user.profile.name">
        </div>

        <div class="field" ng-show="autoFilledSchool">
          <label> School </label>
          <input class="ui input"
                 disabled="disabled"
                 ng-show="autoFilledSchool"
                 ng-model="user.profile.school">
        </div>

        <div class="field" ng-show="!autoFilledSchool">
          <label> School </label>
          <div id="school" class="ui search">
            <div class="ui input">
              <input class="prompt" type="text" placeholder="School" name="school" ng-model="user.profile.school">                
            </div>
            <div class="results"></div>
          </div>
        </div>

        <div class="field">
          <label>Year</label>
          <select
            name="year"
            ng-model="user.profile.year">
            <option value="H">High School</option>
            <option value="1">1st Year</option>
            <option value="2">2nd Year</option>
            <option value="3">3rd Year</option>
            <option value="4">4th Year</option>
            <option value="5">5th Year (and up)</option>
            <option value="G">Graduate Student</option>
          </select>
        </div>

        <div class="field">
          <label>Gender</label>
          <select
            name="gender"
            ng-model="user.profile.gender">
            <option value="M">Male</option>
            <option value="F">Female</option>
            <option value="O">Non-Binary</option>
            <option value="N">I prefer not to answer.</option>
          </select>
        </div>

        <div class="field">
          <label>Ethnicity</label>
          <select
            name="ethnicity"
            ng-model="user.profile.ethnicity">
            <option value="A">American Indian or Alaska Native</option>
            <option value="B">Asian</option>
            <option value="C">Black or African American</option>
            <option value="D">Hispanic or Latino</option>
            <option value="E">Native Hawaiian or Pacific Islander</option>
            <option value="F">White</option>
            <option value="G">Two or more races</option>
            <option value="H">Other</option>
          </select>
        </div>

        <div class="field">
          <label>Major</label>
          <input type="text"
                 placeholder="Major"
                 ng-model="user.profile.major">
        </div>
        
        <div class="field">
          <label>Minor</label>
          <input type="text"
                 placeholder="Minor"
                 ng-model="user.profile.minor">
        </div>

        <div class="field">
          <label>What's your favorite hype song?</label>
          <input type="text"
                 placeholder="Hype"
                 ng-model="user.profile.hypesong">
        </div>

        <div class="field">
          <label>What flavored jellybean would you be and why? (Doesn’t have to be a real flavor ;))</label>
          <input type="text"
                 placeholder="The correct answer is hack flavored... just kidding."
                 ng-model="user.profile.jellybean">
        </div>

        <br>

        <div class="divided title">Interests and Experience</div>

        <div class="section description">
          <p>
              Let us know what you’re interested in! Don’t be shy. If you’ve been looking for the opportunity to gain some experience, HackBeanpot is the perfect place to explore and learn something new!
          </p>
        </div>

        <br>

        <div class="field">
            <label>Tech Interests</label>
            <input type="checkbox" name="interest" value="Hardware">  Hardware<br>
            <input type="checkbox" name="interest" value="Web Development">  Web Development<br>
            <input type="checkbox" name="interest" value="Mobile App Development">  Mobile App Development<br>
            <input type="checkbox" name="interest" value="AI/Machine Learning">  AI/Machine Learning<br>
            <input type="checkbox" name="interest" value="Data Analytics">  Data Science / Data Visualization / Data Analytics<br>
            <input type="checkbox" name="interest" value="AR/VR">  AR/VR<br>
            <input type="checkbox" name="interest" value="Natural Language Processing">  Natural Language Processing<br>
            <input type="checkbox" name="interest" value="UI/UX Design">  UI/UX Design<br>
            <input type="checkbox" name="interest" value="IoT">  IoT<br>
            <input type="checkbox" name="interest" value="Cybersecurity">  Cybersecurity<br>
            <input type="checkbox" name="interest" value="HCI">  Human-Computer Interaction<br>
            <input type="checkbox" name="interest" value="Game Development">  Game Development<br>
            <input type="checkbox" name="interest" value="CS Theory">  CS Theory / Algorithms<br>
        </div>
        
        <br>

        <div class="field">
          <label>What’s your background? What could you talk for hours about? Give us a snapshot of who you are and your journey in tech.</label>
          <input type="text"
                 placeholder="Give us a snapshot of your skillset!"
                 ng-model="user.profile.background">
        </div>

        <br>

        <div class="field">
            <label>Hacking Experience</label>
            <input type="checkbox" name="interest" value="First Hackathon">  First time at a hackathon?<br>
            <input type="checkbox" name="interest" value="First HBP">  First time at HackBeanpot?<br>
            <input type="checkbox" name="interest" value="Orientation Interest">  I would be interested in a first time hacker orientation<br>
        </div>
        
        <br>

        <div class="field">
            <label>Resume Upload (optional)</label>
            <form action="upload.php" method="post" enctype="multipart/form-data">
              Get. dat. internship. This is not for us to look at! We will simply pass your resume on to our sponsors.
              <input type="file" name="fileToUpload" id="fileToUpload">
            </form>     
        </div>
  
        <br>

        <div class="divided title">HackBeanpot-Related Things</div>

        <div class="field">
            <label>How did you hear about us?</label>
            <input type="checkbox" name="interest" value="Friends">  Friends<br>
            <input type="checkbox" name="interest" value="Facebook">  Facebook<br>
            <input type="checkbox" name="interest" value="Twitter">  Twitter<br>
            <input type="checkbox" name="interest" value="Instagram">  Instagram<br>
            <input type="checkbox" name="interest" value="Outreach Event">  Outreach Event<br>
            <input type="checkbox" name="interest" value="Our Website">  Our Website<br>
            <input type="checkbox" name="interest" value="Blog Post">  Blog Post<br>
        </div>

        <br>

        <div class="field">
          <label>Did you attend any events hosted by HackBeanpot in Fall 2019? (Multi-select)</label>
          <input type="checkbox" name="interest" value="Cosmo">  CoSMO x HBP: Intro to Hackathons (9/25)<br>
          <input type="checkbox" name="interest" value="Tufts">  HBP @ Tufts PolyHack (10/11)<br>
          <input type="checkbox" name="interest" value="WISE">  HBP x WISE x NUWIT: Breaking into Data Visualization (11/3)<br>
        </div>

        <br>

        <div class="field">
            <label>What kind of activities, talks, or workshops would you like to attend at HackBeanpot? (Ex. Yoga, professional development talk, React workshop, etc.)</label>
            <input type="text"
                   placeholder="Activities"
                   ng-model="user.profile.activities">
        </div>
  
        <br>

        <div class="field">
            <label>
              What kind of ideas or topics would you be interested in exploring at HackBeanpot? (Your answer won’t affect your admission)
            </label>
            <textarea placeholder="Ideas or topics" ng-model="user.profile.topicsTechnologies">
            </textarea>
        </div>

        <br>

        <div class="field">
            <label>Any food restrictions or allergies?</label>
            <input type="text"
                   placeholder="Dietary Restrictions"
                   ng-model="user.profile.dietaryRestrictions">
        </div>
  
        <br>

        <div class="field">
            <label>Forming your winning team - Please select the option most relevant to you</label>
            <input type="radio" name="interest" value="I have a team that I plan to come and work with">  I have a team that I plan to come and work with<br>
            <input type="radio" name="interest" value="I have a team in mind but would be open to finding a new team at the event">  I have a team in mind but would be open to finding a new team at the event<br>
            <input type="radio" name="interest" value="I want to join a new team at the event">  I want to join a new team at the event<br>
            <input type="radio" name="interest" value="I want to work solo">  I want to work solo<br>
            <label>If you have a team in mind please fill out the team information on your dashboard</label>
        </div>
        
        <br>

        <div class="field">
          <label>
            Our theme is “Sprout” this year, which represents growth in new skills, relationships, and experiences. With this in mind, what are you hoping to get out of HackBeanpot? What do you want to walk away having learned or experienced?
          </label>
          <textarea ng-model="user.profile.essay">
          </textarea>
        </div>

        <div class="thank you">
          <p>
              Thanks for your interest! We can’t wait to learn about you! We will let you know by the week of January 14, 2019 if you have a ticket or if you’ll be on our waitlist. Stay tuned! 
          </p>
          <p>
              If you have any questions in the meantime, feel free to reach out to us at team@hackbeanpot.com, and visit our website https://hackbeanpot.com. Check out our social media @hackbeanpot to stay up to date with the latest HackBeanpot news!
          </p>
        </div>

        <br>

        <div class="field" ng-hide="regIsClosed">
          <button type="submit"
                  class="fluid ui purple button"
                  ng-click="submitForm()">
            Submit
          </button>
        </div>

        </fieldset>
      </div>
    </div>
  </div>
</div>
