<div class="ui top attached segment">

  <div class="ui header">
    {{selectedUser.profile.name ? selectedUser.profile.name : selectedUser.email}}
    <span
      ng-show="selectedUser.admin">
      (Admin)
    </span>
  </div>

</div>

<div class="ui botom attached segment">

  <div>
    <p>
      <strong> Status: </strong>
      <span
        class="ui label">
        {{selectedUser.status.name.toUpperCase()}}
      </span>
    </p>
    <p>
      <strong> Admitted by: </strong> {{selectedUser.status.admittedBy ? selectedUser.status.admittedBy : 'N/A'}}
    </p>
  </div>

  <div class="ui divider"></div>

  <div class="ui form">

    <fieldset ng-disabled="false">

      <div class="ui header">
        Basic Info
      </div>

      <div class="field">
        <strong>
          Created on:
        </strong>
        {{formatTime(selectedUser.timestamp)}}
      </div>

      <div class="field">
        <strong>
          Last Updated:
        </strong>
        {{formatTime(selectedUser.lastUpdated)}}
      </div>


      <div class="field">
        <label> Email </label>
        <input type="text" ng-model="selectedUser.email" />
      </div>

      <div class="field">
        <label> Team </label>
        <input type="text" ng-model="selectedUser.teamCode" />
      </div>

    </fieldset>

  </div>

  <div class="ui divider"></div>

  <div class="ui form">

    <fieldset ng-disabled="false">

      <div class="ui header">
       Profile
      </div>

      <div class="field">
        <label> Email </label>
        <input type="email"
               name="email"
               disabled="disabled"
               ng-model="selectedUser.email">
      </div>

      <div class="field">
        <label> Full Name </label>
        <input type="text"
               name="name"
               ng-model="selectedUser.profile.name">
      </div>

      <div class="field">
        <label>Gender</label>
        <input type="text"
                name="gender"
                ng-model="selectedUser.profile.gender">
      </div>

      <div class="field">
        <label>Ethnicity</label>
        <select
          name="ethnicity"
          ng-model="selectedUser.profile.ethnicity">
          <option value="A">Indigenous American or Alaska Native</option>
          <option value="B">Asian (Far East, Southeast, South)</option>
          <option value="C">Black or African American</option>
          <option value="D">Hispanic or Latino</option>
          <option value="E">Native Hawaiian or Other Pacific Islander</option>
          <option value="F">White</option>
          <option value="G">Two or more races</option>
          <option value="H">Other</option>
        </select>
      </div>

      <div class="field" ng-show="autoFilledSchool">
        <label> School </label>
        <input class="ui input"
               disabled="disabled"
               ng-show="autoFilledSchool"
               ng-model="selectedUser.profile.school">
      </div>

      <div class="field" ng-show="!autoFilledSchool">
        <label> School </label>
        <input class="ui input"
               name="school"
               ng-model="selectedUser.profile.school">
      </div>

      <div class="field">
        <label>Education Level (currently pursuing)</label>
        <select
          name="educationLevel"
          ng-model="selectedUser.profile.educationLevel">
          <option value="H">High School</option>
          <option value="U">Undergraduate</option>
          <option value="G">Graduate</option>
        </select>
      </div>

      <div class="field">
        <label>Year</label>
        <select
          name="year"
          ng-model="selectedUser.profile.year">
          <option value="1">1st Year</option>
          <option value="2">2nd Year</option>
          <option value="3">3rd Year</option>
          <option value="4">4th Year</option>
          <option value="5">5th Year+</option>
        </select>
      </div>

      <div class="field">
        <label>Likely Timezone</label>
        <input type="text"
                ng-model="selectedUser.profile.timezone">
      </div>

      <div class="field">
        <label>Shirt size? </label>
        <select
          name="shirt"
          ng-model="selectedUser.profile.shirtSize"
          required>
          <option value=""></option>
          <option value="XS">Unisex X-Small</option>
          <option value="S">Unisex Small</option>
          <option value="M">Unisex Medium</option>
          <option value="L">Unisex Large</option>
          <option value="XL">Unisex X-Large</option>
          <option value="XXL">Unisex XX-Large</option>
        </select>
      </div>

      <!-- Interests and Experience-->

      <div class="field">
        <label>How many hackathons have you attended? <span class="required">*</span></label>
        <select
          name="hackathonsAttended"
          ng-model="selectedUser.profile.hackathonsAttended">
          <option value="0">0</option>
          <option value="1">1-2</option>
          <option value="3">3-5</option>
          <option value="6">6+</option>
        </select>
      </div>

      <div class="field">
        <label>If you've attended a virtual hackathon in the past, what did you like/dislike?</label>
        <input type="text"
                ng-model="selectedUser.profile.virtualOpinions">
      </div>

      <div class="field">
        <label>
          At HackBeanpot 2021, we aim to create a welcoming “campsite” by emphasizing our 
          focus on exploration, creativity, and respect for the world around us! Camping 
          represents community, sustainability, and the goal to help each other thrive.
          With this in mind, what are you hoping to get out of HackBeanpot? What do you want to
          walk away having learned or experienced? 
        </label>
        <input type="text"
                ng-model="selectedUser.profile.learningGoals">
      </div>

      <div class="field">
        <label>What’s your background? What could you talk for hours about? Give us a snapshot of who you are and your journey in tech.</label>
        <input type="text"
                ng-model="selectedUser.profile.passions">
      </div>

      <!-- Team Formation -->

      <div class="field">
        <label>
          Do you plan on attending HackBeanpot with a premade team? If yes, 
          <b>please create/join a team with your teammates in the Team tab. </b>
          <span class="required">*</span> 
        </label>
        <select
          name="hasTeam"
          ng-model="user.profile.hasTeam">
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select>
      </div>

      <div class="field">
        <label>
          Would you be interested in creating a team or finding more members for your current team at our team formation event?
          <span class="required">*</span> 
        </label>
        <select
          name="teamFormationPlan"
          ng-model="user.profile.teamFormationPlan">
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select>
      </div>


      <!-- Older Questions -->

      <div class="field">
        <label> Tech Interests </label>
        <input
          type="text" ng-model="selectedUser.profile.techInterests" />
      </div>

      <div class="field">
        <label> Other Tech Interests </label>
        <input
          type="text" ng-model="selectedUser.profile.otherTechInterests" />
      </div>

      <div class="field">
        <label> Heard About Us </label>
        <input
          type="text" ng-model="selectedUser.profile.heardAboutUs" />
      </div>

      <div class="field">
        <label> Other Heard About us </label>
        <input
          type="text" ng-model="selectedUser.profile.otherHeardAboutUs" />
      </div>

      <div class="field">
        <label> Did you attend any events hosted by HackBeanpot in Fall 2019? </label>
        <input
          type="text" ng-model="selectedUser.profile.hbpOutreachEvents" />
      </div>

      <div class="field">
        <label>What kind of activities, talks, or workshops would you like to attend at HackBeanpot? (Ex. Yoga, professional development talk, React workshop, etc.)</label>
        <input type="text"
                ng-model="selectedUser.profile.activities">
      </div>

      <div class="field">
        <div
          ng-click="updateProfile()"
          class="ui positive right labeled icon button">
          Update Profile
          <i class="checkmark icon"></i>
        </div>
      </div>

    </fieldset>
  </div>

  <div class="ui divider"></div>

  <div class="ui form">

    <fieldset ng-disabled="false">

      <div class="ui header">
        Confirmation
      </div>

      <div class="field">
        <label> Phone </label>
        <input type="tel" ng-model="selectedUser.confirmation.phoneNumber" />
      </div>

      <div class="field">
        <label> Dietary Restrictions </label>
        <input
          type="text" ng-model="selectedUser.confirmation.dietaryRestrictions" />
      </div>

      <div class="field">
          <label> Other Dietary Restrictions </label>
          <input
            type="text" ng-model="selectedUser.confirmation.otherDietaryRestrictions" />
        </div>

      <div class="field">
        <label> Shirt Size </label>
        <input type="text" ng-model="selectedUser.profile.shirtSize" />
      </div>

      <div class="field">
        <label> Major </label>
        <input type="text" ng-model="selectedUser.profile.major" />
      </div>

      <div class="field">
        <label>Minor(s), if any</label>
        <input type="text" ng-model="selectedUser.profile.minor">
      </div>

      <div class="field">
        <label> Github </label>
        <input type="url" ng-model="selectedUser.confirmation.github" />
      </div>

      <div class="field">
        <label> Website </label>
        <input type="url" ng-model="selectedUser.confirmation.website" />
      </div>

      <div class="field">
          <label> Liability Waiver </label>
          <input type="text"
                 name="signatureLiabilityWaiver"
                 placeholder="Your Full Legal Name"
                 ng-model="selectedUser.confirmation.signatureLiability">
        </div>

        <div class="field">
          <label> Photo Release </label>
          <input type="text"
                 name="signaturePhotoRelease"
                 placeholder="Your Full Legal Name"
                 ng-model="selectedUser.confirmation.signaturePhotoRelease">
        </div>

        <div class="field">
          <label> Code of Conduct </label>
          <input type="text"
                 name="signatureCodeOfConduct"
                 placeholder="Your Full Legal Name"
                 ng-model="selectedUser.confirmation.signatureCodeOfConduct">
        </div>

        <div class="field">
          <label>
            Additional Notes
          </label>
          <textarea
            ng-model="selectedUser.confirmation.notes"></textarea>
        </div>



      
    </fieldset>

  </div>
</div>
