// Branding overrides
//
// Copy variables from `_branding.scss` to this file to override default values.

$hbp-lightblue: #a4dbe8;
$hbp-grey: #eeeeee;
$hbp-yellow: #fbdd40;
$hbp-navy: #1b365d;
$hbp-red: #ff6d6a;
$hbp-purple: #5461c8;
$hbp-green: #70e0a3;

$primary: $hbp-navy;
$secondary: $hbp-navy;
$tertiary: $hbp-red;

// Overrides for Semantic UI

.ui.purple.button {
  background-color: $hbp-purple;
}
.ui.pink.button {
  background-color: $hbp-green;
}

.title {
  text-transform: capitalize !important;
}
