// Branding overrides
//
// Copy variables from `_branding.scss` to this file to override default values.

$hbp-lightblue: #a4dbe8;
$hbp-grey: #eeeeee;
$hbp-yellow: #fbdd40;
$hbp-navy: #1b365d;
$hbp-red: #ff6d6a;
$hbp-purple: #5461c8;
$hbp-green: #70e0a3;

// 2021 COLORS

$light-blue: #B4EBEB;
$light-blue-disabled: #CFE8E8;
$light-blue-hover: #52C2C2;

$dark-green: #1D8A4F;
$not-so-dark-green: #AAEAC8;

$white: #fff;
$darker-hbp-navy: #102037;

$primary: $hbp-navy;
$secondary: $hbp-navy;
$tertiary: $hbp-red;

// Overrides for Semantic UI

.ui.purple.button {
  background-color: $hbp-purple;
}
.ui.pink.button {
  background-color: $hbp-green;
}
