// Branding overrides
//
// Copy variables from `_branding.scss` to this file to override default values.

$hbp-lightblue: #a4dbe8;
$hbp-grey: #eeeeee;
$hbp-yellow: #fbdd40;
$hbp-navy: #1b365d;
$hbp-red: #ff6d6a;
$hbp-purple: #5461c8;
$hbp-green: #70e0a3;

// 2020 COLORS

$yellow-green: #E0F36D;
$yellow-green-disabled: #F0FDA3;
$yellow-green-hover: #CAE339;

$dark-green: #439A6B;
$not-so-dark-green: #7AC09A;

$white: #fff;
$darker-hbp-navy: #102037;

$primary: $hbp-navy;
$secondary: $hbp-navy;
$tertiary: $hbp-red;

// Overrides for Semantic UI

.ui.purple.button {
  background-color: $hbp-purple;
}
.ui.pink.button {
  background-color: $hbp-green;
}
