<div class="page">
  <div class="divided title">
    Confirmation
  </div>

  <div class="ui stackable page grid">
    <div class="column">

      <div class="ui form">

        <div class="divided title">Basic Details</div>

        <fieldset ng-disabled="pastConfirmation">

          <div class="field">
            <label> What's your phone number? (required) </label>
            <p>
              We need this in case we need to get ahold of you!
            </p>
            <input type="tel"
                   name="phone"
                   ng-model="user.confirmation.phoneNumber"
                   placeholder="(123) - 555 - 1234"
                   required>
          </div>

          <div class="field">
            <label> Dietary Restrictions </label>

            <p>
              If your restriction is not included here, please let us know in the additional notes at the bottom.
            </p>
            <p>
              We'll make sure you get fed :)
            </p>

          </div>

          <div class="inline fields">
            <div class="field"
              ng-repeat="(key, value) in dietaryRestrictions">

              <div class="ui checkbox">
                <input type="checkbox" ng-model="dietaryRestrictions[key]" />
                <label>{{key}}</label>
              </div>

            </div>
            
          </div>

          <div class="field" ng-show="dietaryRestrictions['Other']">
            <label> Other Dietary Restrictions (please specify) </label>
            <input type="text" ng-model="user.confirmation.otherDietaryRestrictions">
          </div>


          <br>
          <br>

          <div class="divided title"> Links </div>

          <div class="field">
            <label> Github </label>
            <input type="text"
                   name="github"
                   placeholder="https://github.com/foobar"
                   ng-model="user.confirmation.github">
          </div>

          <div class="field">
            <label> LinkedIn </label>
            <input type="text"
                   name="linkedin"
                   placeholder="https://linkedin.com/foobar"
                   ng-model="user.confirmation.linkedin">
          </div>

          <div class="field">
              <label> Website </label>
              <input type="text"
                     name="website"
                     placeholder="hackername.com"
                     ng-model="user.confirmation.website">
            </div>

          <br>
          <br>

          <div class="divided title">Legal</div>

          <div class="field">
            <label> Liability Waiver </label>
            <p>
              <a
                target="_blank"
                href="https://drive.google.com/file/d/1RqsMmjFzvY8fzRWMxApKNpVV5LzGazK2/view?usp=sharing">
                Liability Waiver
              </a>
            </p>
            <p>
              Please read and accept the terms of our liability waiver. <strong>You must be 18 years or older and a student. We will be checking ID. </strong> If you are a high school student, we will email you a different liability waiver to sign.
            </p>
            <p>
              By writing my name below, I affirm that I have read and accepted the terms of the liability waiver above, and will be 18 years or older at the time of the event (leave blank if you are a high school student).
            </p>
            <input type="text"
                   name="signatureLiabilityWaiver"
                   placeholder="Your Full Legal Name"
                   ng-model="user.confirmation.signatureLiability">
          </div>

          <div class="field">
            <label> Photo Release </label>
            <p>
              <a
                target="_blank"
                href="https://drive.google.com/file/d/1qNM92keEjzCOSudrwWJAgL04bloR9AHT/view?usp=sharing">
                Photo Release
              </a>
            </p>
            <p>
              Signing this photo release means if we take photos or photos of you, we can share it with the world.
            </p>
            <p>
              By writing my name below, I affirm that I have read and accepted the terms of the photo release above.
            </p>
            <input type="text"
                   name="signaturePhotoRelease"
                   placeholder="Your Full Legal Name"
                   ng-model="user.confirmation.signaturePhotoRelease">
          </div>

          <div class="field">
            <label> Code of Conduct </label>
            <p>
              <a
                target="_blank"
                href="https://drive.google.com/file/d/1mJR8AhUwavsFnuPDS8wjHcSoBBCOwkPS/view?usp=sharing">
                Hacker Code of Conduct
              </a>
            </p>
            <p>
              It is extremely important to us that attendees follow a set of guidelines to make the event fun for everyone involved. Please read through and make sure you understand what we will be expecting of you.
            </p>
            <p>
              By writing my name below, I affirm that I have read and will abide by the code of conduct detailed above.
            </p>
            <input type="text"
                   name="signatureCodeOfConduct"
                   placeholder="Your Full Legal Name"
                   ng-model="user.confirmation.signatureCodeOfConduct">
          </div>

          <br>
          <br>

          <div class="divided title">Everything Else</div>

          <div class="field">
            <label>
              Additional Notes
            </label>
            <p>
              If there's anything else you need to let us know, tell us here!
            </p>
            <textarea
              ng-model="user.confirmation.notes"></textarea>
          </div>

          <div class="field" ng-hide="regIsClosed">
            <button type="submit"
                    class="fluid ui button primary-cta"
                    ng-click="submitForm()">
              Submit
            </button>
          </div>

        </fieldset>
      </div>
    </div>
  </div>
</div>
